
@{
    ViewBag.Title = "demoForm";
}

<h2>demoForm</h2>

<form method="post">
    <input name="txtA" type="text" value="@ViewBag.A" />X2 + 
    <input name="txtB" type="text" value="@ViewBag.B" />X  + 
    <input name="txtC" type="text" value="@ViewBag.C" />=0
    <br />
    <input value="OK" type="submit" />X = @ViewBag.Ans

</form>

